 .contenedor-galeria {
            text-align: center;
            font-family: Arial, sans-serif;
            margin-top: 30px;
        }

        
        #visor-principal {
            width: 600px;
            height: 400px;
            object-fit: cover;
            border: 4px solid #222;
            margin-bottom: 20px;
        }

        .fila-miniaturas {
            display: flex;
            justify-content: center;
            gap: 15px;
        }

        /* Estilo base de las miniaturas */
        .miniatura {
            width: 120px;
            height: 80px;
            cursor: pointer;
            transition: opacity 0.3s ease; /* Transición suave */
        }

        /* EFECTO SOLICITADO: Solo la miniatura se opaca al pasar el mouse */
        .miniatura:hover {
            opacity: 0.2; /* Se vuelve semitransparente */
        }



        /* Diseño del botón Ir a Inicio */
.btn-inicio {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background-color: #2c3e50; /* Un azul oscuro elegante */
    color: white;
    text-decoration: none; /* Quita el subrayado */
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    border-radius: 50px; /* Bordes muy redondeados */
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Efecto al pasar el mouse */
.btn-inicio:hover {
    background-color:crimson;
    transform: translateY(-3px); /* Se eleva un poquito */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: #ecf0f1;
}

/* Efecto al hacer clic */
.btn-inicio:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

